html {
    background-color: #9B9892;
    text-align: center;
    font-size: calc(10px + 2vmin);
  }
  
body {
    background-color: #89CFF0;
}

.auth-div {
    background-image: url("./Images/hu-chen-tCbTGNwrFNM-unsplash.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 900px;
    padding-top: 1%;
}

.home-div {
    background-image: url("./Images/white-cloud-unsplash.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    height: 900px;
    padding-top: 1%;
}

#login-pw-field-left {
    padding-left: 75px;
}

.button {
    font-weight: bold;
    font-size: calc(14px + 2vmin);
    background-color: #99dfff;
}

.Logout-button {
    font-weight: bold;
    font-size: calc(8px + 2vmin);
    background-color: #ff99ac;
    margin-left: 2%;
}

.form-background {
    background-color: #9B9892;
    padding: 10px 20px 10px 20px;
    max-width: fit-content;
    margin-left: 38%;
}

.link {
    font-size: calc(8px + 2vmin);
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    font-weight: bold;
    font-size: calc(16px + 2vmin);
    display: inline;
    margin: 3%;
    background-color: gray;
    padding: 5px 25px 5px 25px;
}

/* unvisited link */
a:link {
    color: #0096FF;
  }
  
  /* visited link */
  a:visited {
    color: #ffc1cc;
  }
  
  /* mouse over link */
  a:hover {
    color: #f62681;
  }
  
  /* selected link */
  a:active {
    color: chartreuse;
  }

h1, h2, h3 {
    font-weight: bold;
    font-size: calc(16px + 2vmin);
    text-align: center;
  } 
  