html {
    font-size: calc(10px + 2vmin);
}

body {
    background-color: #89CFF0;
}

.auth-div {
    text-align: center;
    background-image: url("./Images/hu-chen-tCbTGNwrFNM-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    padding-top: 1%;
}

.home-div {
    background-image: url("./Images/white-cloud-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 900px;
    padding-top: 1%;
}

.center-align {
    text-align: center;
}

.right-delete {
    font-weight: bold;
    font-size: calc(8px + 2vmin);
    background-color: red;
    margin-left: 85%;
}

#login-pw-field-left {
    padding-left: 75px;
}

.button {
    font-weight: bold;
    font-size: calc(14px + 2vmin);
    background-color: #99dfff;
}

.chart-buttons {
    text-align: center;
}

.link-button {
    font-weight: bold;
    font-size: calc(14px + 2vmin);
    background-color: #99dfff;
    margin: 0% 0% 1% 5%;
}

.logout-button {
    font-weight: bold;
    font-size: calc(8px + 2vmin);
    background-color: #f62681;
    margin-left: 2%;
}

.update-button {
    font-weight: bold;
    font-size: calc(8px + 2vmin);
    background-color: chartreuse;
    margin-left: 2%;
}

.add-button {
    font-weight: bold;
    font-size: calc(8px + 2vmin);
    background-color: chartreuse;
    margin-left: 3%;
}

.delete-button {
    font-weight: bold;
    font-size: calc(8px + 2vmin);
    background-color: red;
    margin-left: 2%;
}

.delete-button-rt {
    font-weight: bold;
    font-size: calc(6px + 2vmin);
    background-color: red;
    margin-left: 83%;
    border-style: double;
    border-color: black;
}

.form-background {
    background-color: rgb(141, 145, 141, 0.7);
    padding: 10px 20px 10px 20px;
    max-width: 40%;
    margin-left: 30%;
}

.link {
    font-size: calc(8px + 2vmin);
    font-weight: bold;
    text-decoration: none;
}

.nav-links {
    font-weight: bold;
    font-size: calc(16px + 2vmin);
    display: inline;
    margin: 3%;
    background-color: rgb(128, 128, 128, 0.4);
    padding: 5px 25px 5px 25px;
}

.nav-list {
    text-align: center;
}

/* unvisited link */
a:link {
    color: #0096FF;
}

/* visited link */
a:visited {
    color: #f62681;
}

/* mouse over link */
a:hover {
    color: #FFFF00;
}

/* selected link */
a:active {
    color: chartreuse;
}

h1,
h2,
h3, 
h4 {
    font-weight: bold;
    font-size: calc(16px + 2vmin);
    text-align: center;
}

.span-left {
    text-align: left;
}

.notes-list {
    text-align: center;
}

table {
    color: black;
    font-size: calc(6px + 2vmin);
    padding: 10px;
    table-layout: fixed;
    width: 85%;
    margin-left: 7%;
}

th {
    border: 1px solid black;
    padding: 10px;
    background-color: #feff9c;
    font-family: fantasy;
}

td {
    border: 1px solid black;
    padding: 10px;
    color: black;
    text-shadow: 2px 2px 1px #9B9892;
    font-weight: bold;
    text-align: center;
    background-color: #feff9c;
    font-family: fantasy;
    font-size: calc(10px + 2vmin);
    text-align: left;

}

.pink_th {
    border: 1px solid black;
    padding: 10px;
    background-color: #ff7eb9;
    font-family: fantasy;
}

.pink_td {
    border: 1px solid black;
    padding: 10px;
    color: black;
    text-shadow: 2px 2px 1px #9B9892;
    font-weight: bold;
    text-align: center;
    background-color: #ff7eb9;
    font-family: fantasy;
    font-size: calc(10px + 2vmin);
}

.graph-chart {
    margin-left: 10%;
}

#data-input {
    text-align: center;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #1DA1F2;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #9B9892;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color:palevioletred;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px palevioletred;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .alt-theme {
    background-color: pink;
  }